@media screen and (max-width: 767px)
{
/*---------------HEADER------------*/


.img_booki{
    display: flex;
}

.top_header{
    flex-direction: column;
}
nav{
    display: flex;
}

#nav_menu_header{
    justify-content: center;
}

ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;

}

.li_header_hbgm, .li_header_actv{
    display: flex;
    width: 50%;
    justify-content: center;
}

.li_header_hbgm:hover, .li_header_actv:hover{
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
}


/*---------BARRE DE RECHERCHE--------*/
.search_form{
    display: flex;
    align-content: center;
    height: 2.5em;
    
}

.fa-map-marker-alt{
    border: none;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    
    
}

#site-search{
    
    border: 1px solid #F2F2F2;
    height: 100%;
    width: 80%;
}

.btn_search{
    display: flex;
    border: none;
    height: 100%;
    width: 20%;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.btn_text{
    display: none;
}

.btn_icon_search{
    display: flex;
    margin: auto;
}



/*----------SECTION FILTRES--------*/
#art_f{
    display: flex;
    width: 100%;
    flex-direction: column;
}


#art_filtres{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filtres{
    margin-top: 10px;
}




/*---ICONES POUR LES FILTRES---*/

/*-----------------------------------*/


/*--------------BODY-----------------*/

/*-------ICONES INFORMATION ---------*/

/*---ARTICLE HERBEGEMENT MARSEILLE---*/

.premier_section{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#art_h{
    width: 100%;
    background-color:#F2F2F2;
    display: inline-flex;
    margin-top: 20px;
}

.el_hbgm{
    width: 100%;
}

/*--------IMAGES HEBERGEMENTS--------*/

/*-----ASIDE LES PLUS POPULAIRES-----*/

#aside_p{
    background-color:#F2F2F2;
    width: 100%;
    display: flex;
    
    
}
/*----IMAGES LES PLUS POPULAIRES-----*/

/*---------ICONES ETOILES------------*/

/*----SECTION ACTIVITES MARSEILLE----*/

#list_article_actv{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    
}

.cont_actv{
    height: auto;
    width: 100%;
    display: flex;
    border-radius: 20px 20px 20px 20px;
    flex-wrap: wrap;
    
    
}

.el_actv_grand{
    height: auto;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    
}

.el_actv_petit{
    height: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    display: flex;
    
}
/*-----IMAGES ACTIVITES MARSEILLE----*/
.div_img{
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
}

.div_img_2{
    height: 100px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_3{
    height: 100px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_4{
    height: 100px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}
/*-----IMAGES ACTIVITES MARSEILLE----*/

/*-----------------------------------*/
/*-------------FOOTER----------------*/
footer{
    display: flex;   
    flex-direction: column; 
    background-color:#F2F2F2;
    margin-top: 30px;    
}

.info_footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*-----------------------------------*/

}