@media screen and (max-width: 767px)
{
/*---------------HEADER------------*/

header{
    margin:0px;
}

.img_booki{
    display: flex;
}

.top_header{
    flex-direction: column;
}

.img_header{
    display: flex;
    height: 75px;
}
nav{
    display: flex;
}

#nav_menu_header{
    justify-content: center;
}

ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.li_header_hbgm, .li_header_actv{
    display: flex;
    width: 50%;
    justify-content: center;
}

.li_header_hbgm:hover, .li_header_actv:hover{
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
}

.text_top_main{
    margin: 0px 20px;
}

/*---------BARRE DE RECHERCHE--------*/

.header_search{
    margin: 30px 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    
}
.search_form{
    display: flex;
    align-content: center;
    height: 50px;    
}

.map-marker_icon{
    display: flex;
    margin: auto  0px;
}

#site-search{
    border: none;
    height: 100%;
    width: 86%;
}

.btn_search{
    display: flex;
    border: none;
    height: 100%;
    width: 50px;
    background-color: #0065FC;
    color: white;
    border-radius: 10px;
}

.btn_text{
    display: none;
}

.btn_icon_search{
    display: flex;
    margin: auto;
}

/*----------SECTION FILTRES--------*/

.section_filtres{
    margin: 20px;
}

#art_f{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#art_filtres{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filtres{
    margin-top: 10px;
}

/*------------INFO SITE--------------*/

.info_site{
    margin: 0px 20px;
}

/*--------------BODY-----------------*/

body, main, html{
    margin: 0px;
}

/*---ARTICLE HERBEGEMENT MARSEILLE---*/

.premier_section{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#art_h{
    width: 100%;
    background-color: white;
    display: inline-flex;
}

#article_hbgm{
    margin: 0px 20px;
}

.title_hbgm{
    margin: 40px 20px 10px 20px;
}

.el_hbgm{
    width: 100%;
    margin: 10px 0px;
}

/*-----ASIDE LES PLUS POPULAIRES-----*/

#aside_p{
    background-color:#F2F2F2;
    width: 100%;
    display: flex;
    border-radius: 0px;
}

/*----SECTION ACTIVITES MARSEILLE----*/

#section_actv{
    margin: 50px 20px 10px 20px;
}

.title_actv{
    margin: 0px;
    margin-bottom: 15px;
}

#list_article_actv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;    
}

.cont_actv{
    height: auto;
    width: 100%;
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;       
}

.el_actv_grand, .el_actv_petit_1, .el_actv_petit_2, .el_actv_moyen{
    height: auto;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    
}

.plus_info{
    margin: 15px 20px;
}

/*-----IMAGES ACTIVITES MARSEILLE----*/

.div_img{
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
}

/*-----IMAGES ACTIVITES MARSEILLE----*/

figure{
    margin: 15px 0px;
}

/*-------------FOOTER----------------*/
footer{
    display: flex;   
    background-color:#F2F2F2;
    margin-top: 30px;    
}

.section_footer{
    flex-direction: column;
    margin: 0px 20px;
}

.info_footer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*-----------------------------------*/

}