/*---------------HEADER------------*/

header{
    margin: 10px;
}
#img_booki{
    float: left;
}

nav{
    display:flex;
    color: rgb(179, 179, 179);
}

ul{
    list-style-type: none;
    display: flex;
    
    
}


#menu_header{
    justify-content: right;
}

.nav_header{
    display: inline-flex;
    
    padding: 20px;
}

#title2_header{
    color: rgb(158, 157, 157);
}


/*--------BARRE DE RECHERCHE---------*/

.search_form{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 30%;
}

.fa-map-marker-alt{
    display: flex;
    padding: 10px;

}

button{
    background-color: #0065FC;
    color: white;
}



/*----------SECTION FILTRES---------*/


#art_f{
   display: inline-flex;
   width: 80%;
}   

#title_filtres{
    display: flex;
}

#art_filtres{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.filtres{
    display: flex;
    align-items: center;
    margin: 20px;   
    border-radius: 120px;
    border: 1px solid grey;

}

.text_filtre{
    padding: 10px;
}


/*---ICONES POUR LES FILTRES---*/

.fa-money-bill-wave{
    display: flex;
    border-radius: 100px;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 10px;
}



.fa-child{
    display: flex;
    border-radius: 100px;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    
}

.fa-heart{
    display: flex;
    border-radius: 100px;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 10px;
}
.fa-dog{
    display: flex;
    border-radius: 100px;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 10px;
}
/*-----------------------------------*/

/*--------------BODY-----------------*/

/* body{} */

.tempo{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/*---ARTICLE HERBEGEMENT MARSEILLE---*/

#art_h{
    width: 68%;
    background-color:#F2F2F2;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    
}

#article_hbgm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
}

.el_hbgm{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    width: 300px;
    margin: 15px;
    
}

#def_hbgm{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.plus_info{
    margin: 15px;
}
/*--------IMAGES HEBERGEMENTS--------*/

.img_hbgm{
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img_1_1{
    width: 100%;
    margin-top: -30px;
}

.img_1_2{
    width: 100%;
    margin-top: -25px;
}

.img_1_3{
    width: 100%;
    margin-top: -25px;
}

.img_1_4{
    width: 100%;
    margin-top: -70px;
}

.img_1_5{
    width: 100%;
    margin-top: -20px;
}

.img_1_6{
    width: 100%;
    margin-top: -150px;
}
/*-----------------------------------*/

/*-----ASIDE LES PLUS POPULAIRES-----*/

#aside_p{
    background-color:#F2F2F2;
    width: 29%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    
}

#article_plus_pop{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    
    
    
}

.el_plus_pop{
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    display: flex;   
    flex-direction: row;
    width: 90%;
    height: 30%;
    margin: 15px;
}

.def_plus_pop{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/*----IMAGES LES PLUS POPULAIRES-----*/
.img_plus_pop{
    width: 40%;
    height: 170px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;}

.img_1_21{
    height: 100%;
    
    margin-left: -50px;
}

.img_1_22{
    height: 100%;
    margin-left: -30px;
}

.img_1_23{
    width: 100%;
    margin-top: -30px;
}

/*-----------------------------------*/

/*----SECTION ACTIVITES MARSEILLE----*/


#section_actv{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#list_article_actv{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    
}

.cont_actv{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    
    
}

.el_actv_grand{
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.445);
    
}

.el_actv_petit{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.445);
    display: flex;
    flex-direction: column;
    
}



/*-----IMAGES ACTIVITES MARSEILLE----*/
.div_img{
    height: 430px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
}

.div_img_2{
    height: 180px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_3{
    height: 120px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_4{
    height: 150px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img_2_1{
    height: 100%;
    margin: 0px 0px 0px -175px;
}

.img_2_21{
    width: 100%;
    margin: -160px 0px 0px 0px;
}

.img_2_22{ 
    width: 100%;
    margin: -30px 0px 0px 0px;
}

.img_2_3{
    height: 100%;
    margin: 0px 0px 0px -150px;
}

.img_2_41{
    width: 100%;
    margin: -10px 0px 0px 0px;
}

.img_2_42{
    width: 100%;
    margin: -30px 0px 0px 0px;
}
/*-----------------------------------*/



/*-------------FOOTER----------------*/

footer{
    display: flex;    
    background-color:#F2F2F2;
    margin-top: 30px;    
}

#info_footer{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#list_footer{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 20px;
}


/*-----------------------------------*/

