

/*---------------HEADER------------*/

header{
    margin: 10px;
}
#img_booki{
    float: left;
}

nav{
    display:flex;
    
}

ul{
    list-style-type: none;
    display: flex;
}


a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}

a:hover{
    text-decoration: none;
    color: blue;
}
#menu_header{
    justify-content: right;
}

.nav_header_actv, .nav_header_hbgm{
    display: inline-flex;
    padding: 20px;
}

.nav_header_hbgm:hover,.nav_header_actv:hover{
    display: inline-flex;
    border-top:2px solid blue;
    padding: 20px;
    
}

.menu_hbgm:hover{
    
}

.title_header{
    font-size:x-large;
}

.title2_header{
    color: rgb(158, 157, 157);
    font-size:medium;
}


/*--------BARRE DE RECHERCHE---------*/


.search_form{
    display: flex;
    align-content: center;
    height: 2.5em;
    
}

.fa-map-marker-alt{
    border: none;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    
    
}

#site-search{
    
    border: 1px solid #F2F2F2;
    height: 100%;
    width: 12%;
}

button{
    border: none;
    height: 100%;
    width: 6%;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}



/*----------SECTION FILTRES---------*/


#art_f{
   display: inline-flex;
   width: 80%;
}   

.title_filtres{
    display: flex;
    margin-right: 20px;
}

#art_filtres{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.filtres{
    display: flex;
    align-items: center;  
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 2.9em;
}

.text_filtre{
    padding: 10px;
}


/*---ICONES POUR LES FILTRES---*/
.icon_Filtre{
    display: flex;
    clip-path: circle(50%);
    background-color:#DEEBFF;
    height: 3em;
    width: 3em;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{    
    color:#0065FC;
}

/*-----------------------------------*/

/*-------ICONES INFORMATION ---------*/

.info_site{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icone_info_site{
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    
}
.fa-info{
    color: #0065FC;
    
}


/*--------------BODY-----------------*/

/* body{} */

.premier_section{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/*---ARTICLE HERBEGEMENT MARSEILLE---*/

#art_h{
    width: 68%;
    background-color:#F2F2F2;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    
}

.title_hbgm{
    margin: 20px;
}

#article_hbgm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.el_hbgm{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    width: 22em;
    margin: 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.2);
    
}

#def_hbgm{
    display: flex;
    flex-direction: column;
    margin: 8px 0px 8px 15px;
    height: 75px;
    justify-content: space-between;
}

.title_article_hbgm{
    margin: 2px 0px 2px 0px;
}

.plus_info{
    margin: 15px;
}
/*--------IMAGES HEBERGEMENTS--------*/

.img_hbgm{
    height: 150px;
    width: 100%;
    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img_1_1{
    width: 100%;
    height: 100%;
}

.img_1_2{
    width: 100%;
    height: 100%;
}

.img_1_3{
    width: 100%;
    height: 100%;
}

.img_1_4{
    width: 100%;
    height: 100%;
}

.img_1_5{
    width: 100%;
    height: 100%;
}

.img_1_6{
    width: 100%;
    height: 100%;
}
/*-----------------------------------*/

/*-----ASIDE LES PLUS POPULAIRES-----*/

#aside_p{
    background-color:#F2F2F2;
    width: 30%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    
}

.title_aside_p{
    margin: 20px;

}
.fa-chart-line{
    float: right;
}

#article_plus_pop{
    display: flex;
    flex-direction: column;
    height: 100%;    
}

.el_plus_pop{
    border: 5px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.2);
    border-radius: 20px;
    display: flex;   
    flex-direction: row;
    width: 90%;
    margin: 20px;
}

.def_plus_pop{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 60%;
    justify-content: space-between;
}



/*----IMAGES LES PLUS POPULAIRES-----*/
.img_plus_pop{
    width: 40%;
    height: 170px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;}

.img_1_21{
    height: 100%;
    object-fit: cover;
}

.img_1_22{
    height: 100%;
    object-fit: contain;
    
}

.img_1_23{
    width: 100%;
    object-fit: contain;
}

/*-----------------------------------*/

/*---------ICONES ETOILES------------*/

.fa-star{
    color: #0065FC;
}

.grey_star{
    color: #F2F2F2;
}

/*----SECTION ACTIVITES MARSEILLE----*/


#section_actv{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#list_article_actv{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    
}

.cont_actv{
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
}

.el_actv_grand{
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    
}

.el_actv_petit{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    display: flex;
    flex-direction: column;
    
}
figure{
    margin: 30px;
}

figcaption{
    margin: 0.625em ;
}


/*-----IMAGES ACTIVITES MARSEILLE----*/
.div_img{
    height: 430px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
}

.div_img_2{
    height: 200px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_3{
    height: 120px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_4{
    height: 150px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img_actv_mars{
    height: 100%;
    width: 100%;
}

/*-----------------------------------*/



/*-------------FOOTER----------------*/

footer{
    display: flex;    
    background-color:#F2F2F2;
    margin-top: 30px;    
}

#info_footer{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#list_footer{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 20px;
}


/*-----------------------------------*/

