*{
    font-family: 'Raleway' , sans-serif;
}

h1,h2,h3{
    font-weight: bold;
}
/*--------------BODY-----------------*/

body{
    margin: 0px 15px;
}

/*---------------HEADER------------*/
header, main, footer{
    max-width: 1440px;
    margin: 0px auto;
}


.top_header{
    display: flex;
    justify-content: space-between;
}

.img_header{
    display: flex;
    height: 50px;
}

.img_booki{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

nav{
    display:flex;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

.a_menu_hbgm, .a_menu_actv{
    color: rgb(179, 179, 179);
}

.a_menu_actv:hover, .a_menu_hbgm:hover{
    color: #0065FC;
}
.nav_menu_header{
    display: flex;
    justify-content: right;
}

.li_header_actv, .li_header_hbgm{
    display: inline-flex;
    padding: 20px;
}

.li_header_hbgm:hover,.li_header_actv:hover{
    display: inline-flex;
    border-top:2px solid #0065FC;
    padding: 20px;    
}

.title_header{
    margin-bottom: 0px;   
}

.title2_header{
    font-size:medium;
    margin-top: 5px;
}


/*--------BARRE DE RECHERCHE---------*/

.header_search{
    margin: 15px 0px;
}

.search_form{
    display: flex;
    align-content: center;
    height: 50px;
    
}

.map-marker_icon{
    display: flex;
    margin: auto 0px;
}
.fa-map-marker-alt{
    border: none;
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;  
}

#site-search{
    
    border: 1px solid #F2F2F2;
    height: 100%;
    width: 15%;
}

.btn_search{
    border: none;
    height: 100%;
    width: auto;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.btn_icon_search{
    display: none;
}

/*----------SECTION FILTRES---------*/


#art_f{
   display: inline-flex;
   width: 80%;
   margin: 10px 0px;
}   

.title_filtres{
    display: flex;
    margin-right: 25px;
    font-weight: bold;
    font-size: inherit;
}

#art_filtres{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

.filtres{
    display: flex;
    align-items: center;  
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 47px;
    margin-bottom: 10px;
}

.text_filtre{
    padding: 10px;
    font-weight: bold;
}

.filtres:hover{
    background-color: #e9e7e7a9;
}

/*---ICONES POUR LES FILTRES---*/
.icon_Filtre{
    display: flex;
    clip-path: circle(50%);
    background-color:#DEEBFF;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    margin: -2px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{    
    color:#0065FC;
}

/*-----------------------------------*/

/*-------ICONES INFORMATION ---------*/

.info_site{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icone_info_site{
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    
}
.fa-info{
    color: #0065FC;
    
}




.premier_section{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/*---ARTICLE HERBEGEMENT MARSEILLE---*/

#art_h{
    width: 68%;
    background-color:#F2F2F2;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    border-radius: 20px;
    
}

.title_hbgm{
    margin: 40px 50px 10px 50px;
}

#article_hbgm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.el_hbgm{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
    width: 25%;
    margin: 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.2);
    
}

.def_hbgm{
    display: flex;
    flex-direction: column;
    margin: 8px 0px 8px 15px;
    height: 75px;
    justify-content: space-between;
}

.title_article_hbgm{
    margin: 2px 0px 2px 0px;
}

.plus_info{
    font-weight: bold;
    margin: 10px 50px 40px 50px;
}
/*--------IMAGES HEBERGEMENTS--------*/

.cont_img_hbgm{
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img_hbgm{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------*/

/*-----ASIDE LES PLUS POPULAIRES-----*/

#aside_p{
    background-color:#F2F2F2;
    width: 30%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    border-radius: 20px;
    
}

.title_aside_p{
    margin: 20px;

}
.fa-chart-line{
    float: right;
}

#article_plus_pop{
    display: flex;
    flex-direction: column;
    height: 100%;    
}

.el_plus_pop{
    border: 5px solid white;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.2);
    border-radius: 20px;
    display: flex;   
    flex-direction: row;
    width: 90%;
    margin: 10px auto 10px auto;
}

.def_plus_pop{
    display: flex;
    flex-direction: column;
    margin: 5px 20px 15px 20px;
    width: 60%;
    justify-content: space-between;
}



/*----IMAGES LES PLUS POPULAIRES-----*/
.cont_img_plus_pop{
    width: 40%;
    height: 170px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;}

.img_plus_pop{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------*/

/*---------ICONES ETOILES------------*/

.fa-star{
    color: #0065FC;
}

.grey_star{
    color: #F2F2F2;
}

/*----SECTION ACTIVITES MARSEILLE----*/

.title_actv{
    margin: 0px 25px 0px 25px;
}

#section_actv{
    margin: 50px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

#list_article_actv{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    
}

.cont_actv{
    height: 500px;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.el_actv_grand, .el_actv_moyen, .el_actv_petit_1, .el_actv_petit_2{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    display: flex;
    flex-direction: column;
}

.el_actv_grand{height: 450px;}

.el_actv_moyen{height: 200px;}

.el_actv_petit_1{height: 250px;}

.el_actv_petit_2{height: 150px;}


figure{
    margin: 25px;
}

figcaption{
    margin: 10px ;
    font-weight: bold;
}


/*-----IMAGES ACTIVITES MARSEILLE----*/
.div_img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;    
}

.img_actv_mars{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*-----------------------------------*/

/*-------------FOOTER----------------*/

footer{
    display: flex;    
    flex-direction: row;
    background-color:#F2F2F2;
    margin-top: 30px;    
}

.section_footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.info_footer, .list_footer{
    display: flex;
    flex-direction: column;
}

.info_footer{width: 30%;}

.list_footer{
    margin: 5px;
    padding-bottom: 20px;
}

.element_list_footer{
    padding: 5px 0px 5px 0px;
}


/*-----------------------------------*/


