@media screen and (max-width: 992px) and (min-width: 768px)
{

/*---------------HEADER-----------*/

/*---------BARRE DE RECHERCHE--------*/

.search_form{
    display: flex;
    align-content: center;
    height: 2.5em;
    
}

.fa-map-marker-alt{
    border: none;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    
    
}

#site-search{
    
    border: 1px solid #F2F2F2;
    height: 100%;
    width: 24%;
}

button{
    border: none;
    height: 100%;
    width: 10%;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

/*----------SECTION FILTRES---------*/

#art_f{
    display: inline-flex;
    width: 100%;
 }   
 
/*---ICONES POUR LES FILTRES---*/

/*-----------------------------------*/


/*--------------BODY-----------------*/

.premier_section{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
/*-------ICONES INFORMATION ---------*/

/*-----ASIDE LES PLUS POPULAIRES-----*/

#aside_p{
    background-color:#F2F2F2;
    width: 100%;
    display: flex;
    
    
}
/*----IMAGES LES PLUS POPULAIRES-----*/

/*-----------------------------------*/

/*---ARTICLE HERBEGEMENT MARSEILLE---*/
#art_h{
    width: 100%;
    background-color:#F2F2F2;
    display: inline-flex;
    margin-top: 20px;
}

/*--------IMAGES HEBERGEMENTS--------*/

/*-----------------------------------*/



/*---------ICONES ETOILES------------*/

/*----SECTION ACTIVITES MARSEILLE----*/
#list_article_actv{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    
}

.cont_actv{
    width: 100%;
    display: flex;
    border-radius: 20px 20px 20px 20px;
    flex-wrap: wrap;
    
    
}

.el_actv_grand{
    border-radius: 20px 20px 20px 20px;
    display: flex;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    
}

.el_actv_petit{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
    display: flex;
    
}
/*-----IMAGES ACTIVITES MARSEILLE----*/
.div_img{
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
}

.div_img_2{
    height: 100px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_3{
    height: 100px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.div_img_4{
    height: 100px;
    width: 100%;    
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}


/*-----------------------------------*/
/*-------------FOOTER----------------*/
#info_footer{
    display: flex;
    flex-direction: column;
    width: 33%;
}

/*-----------------------------------*/

}

